<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-share-reviewapp"
    version="1.0.25">
	
    <name>Cordova ReviewApp plugin</name>
    <description>Cordova ReviewApp plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>	
    <license>MIT</license>
    <keywords>cordova, plugin, reviewapp</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-share-reviewapp</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-share-reviewapp/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
 	
<!--	
	<dependency id="org.apache.cordova.dialogs@0.2.10"/>
	<dependency id="org.apache.cordova.dialogs"/>
-->
	<dependency id="cordova-plugin-dialogs"/>

    <dependency id="cordova-plugin-inappbrowser" />
	
    <js-module src="www/reviewapp.js" name="reviewapp">
        <clobbers target="window.reviewapp"/>
    </js-module>
	
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="ReviewApp">
                <param name="wp-package" value="ReviewApp"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/ReviewApp.cs" />
    </platform>	
</plugin>