<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.phonegap.plugin.rate"
    version="1.0.1">
	
    <name>Phonegap Rate plugin</name>
    <description>Phonegap Rate plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>	
    <license>MIT</license>
    <keywords>phonegap, plugin, rate</keywords>
    <repo>https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.rate</repo>
    <issue>https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.rate/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
 	
	<dependency id="org.apache.cordova.dialogs" version="0.2.10"/>
    <dependency id="org.apache.cordova.inappbrowser" version="0.5.2"/>
	
    <js-module src="www/rate.js">
        <clobbers target="window.rate"/>
    </js-module>
	
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Rate">
                <param name="wp-package" value="Rate"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Rate.cs" />
    </platform>	
</plugin>